APP_NAME=Teams
APP_ENV=local
APP_KEY=base64:4iu/JtVcN/57+UXqlUSV5sx30sMmvHWALp9kRiKgSfc=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

CLIENT_URL = http://localhost:3000

GOOGLE_CLIENT_ID=186420622435-5b45ntnhfmm7o9pv5088ijkfhuktclg9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:8000/api/user/auth/social/login/google/callback

GITHUB_CLIENT_ID=c3a7c92fe4ce8564a7df
GITHUB_CLIENT_SECRET=9858b080bc5675845170c0188b5fc7271b9163a8
GITHUB_REDIRECT_URI=http://localhost:8000/api/user/auth/social/login/github/callback

FACEBOOK_CLIENT_ID=216580350626428
FACEBOOK_CLIENT_SECRET=8442b8a3412df50ba5d6495370b2012c
FACEBOOK_REDIRECT_URI=http://localhost:8000/api/user/auth/social/login/facebook/callback

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=teams
DB_USERNAME=teams
DB_PASSWORD=teams

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=3ac46e4e2689fb
MAIL_PASSWORD=f0096aac840d52
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=8AUExSOXn90mf1fKKk8tX5oGDTnd16HWbWWbZhEhP4i8axpRCvOTeMG09FlqQDWv

TWILIO_API_KEY_SID="SKc36e3292afcd3dd06470bee3ed2c4abe"
TWILIO_ACCOUNT_SID="AC38d1760e2133bfccd3277d2ebc008b53"
TWILIO_API_KEY_SECRET="RIMZbU0mBEkkQQl770jYD4bj5xM45jFZ"

ALGOLIA_APP_ID=LNNIUB5Q0J
ALGOLIA_SECRET=0d524a421a68ee48fc3fe8abb9c8cdf6